Flask
Flask-Login
Flask-Mail
Flask-WTF
Flask-SQLAlchemy
SQLAlchemy-Utils
Flask-Migrate
Flask-Bcrypt
Flask-CLI
Flask-CSRF
Werkzeug
pytz
icalendar
requests
python-dotenv
click
SQLAlchemy
python-dateutil
gunicorn
Bcrypt
psycopg2-binary
geopy
Pillow
dnspython
email-validator
flask-ckeditor 
bleach