/* blog.css */

.blog-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
}

.post {
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    color: #fff; /* White text color */
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Responsive width */
    max-width: 800px; /* Maximum width */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Subtle shadow for depth */
    backdrop-filter: blur(5px); /* Frosted glass effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
}

.post h2 {
    font-family: 'Neon-Heavy', sans-serif;
    color: #E2BB90; /* Vibrant yellow for headings */
    margin-bottom: 15px;
}

.post .date {
    font-family: 'Neon-Regular', sans-serif;
    color: #CCCCCC; /* Lighter text color for date */
    margin-bottom: 20px;
}

.post p {
    font-family: 'Neon-Regular', sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
}

.post a {
    font-family: 'Neon-Heavy', sans-serif;
    color: #E2BB90; /* Vibrant yellow for links */
    text-decoration: none;
    background-color: rgba(226, 186, 144, 0.815); /* Translucent background */
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.post a:hover {
    background-color: #E2BB90; /* Darker background on hover */
    color: #333; /* Dark text color on hover */
}

@media (max-width: 768px) {
    .post {
        width: 90%; /* Slightly wider on smaller screens */
    }
}

@media (max-width: 480px) {
    .blog-posts {
        padding: 10px; /* Reduced padding for more screen space */
        margin-top: 20px; /* Reduced margin-top for tighter layout */
    }

    .post {
        width: 100%; /* Full width for maximum content display */
        padding: 15px; /* Adjusted padding for content breathing space */
        margin-bottom: 20px; /* Reduced margin-bottom to decrease space between posts */
        border-radius: 5px; /* Smaller border-radius for a softer look */
    }

    .post h2 {
        font-size: 18px; /* Smaller font size for headings */
        margin-bottom: 10px; /* Reduced margin-bottom for tighter heading to content */
    }

    .post .date {
        font-size: 14px; /* Smaller font size for date */
        margin-bottom: 15px; /* Adjusted margin-bottom for date to content spacing */
    }

    .post p {
        font-size: 16px; /* Adjusted font size for readability */
        line-height: 1.4; /* Adjusted line-height for better text flow */
        margin-bottom: 15px; /* Adjusted margin-bottom for paragraph spacing */
    }

    .post a {
        font-size: 16px; /* Consistent font size for links */
        padding: 8px 12px; /* Adjusted padding for smaller touch targets */
        border-radius: 4px; /* Smaller border-radius for buttons */
    }
}

