{% extends "base.html" %}

{% block title %}Data Management{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/data-management.css') }}">
{% endblock %}

{% block content %}
<div data-react-component="DataManagement"
    data-react-props='{"csrfToken": "{{ csrf_token() }}", "backupUrl": "{{ url_for("admin.download_backup") }}", "importUrl": "{{ url_for("admin.import_data") }}", "gdprExportUrl": "{{ url_for("admin.export_user_data") }}", "statsUrl": "{{ url_for("admin.data_stats") }}"}'>
</div>
{% endblock %}