{% extends "base.html" %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/services.css') }}">
{% endblock %}

{% block content %}
<h2>Add Plan Option</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }} {{ form.name() }}
        {% if form.name.errors %}
            <div style="color: red;">{{ form.name.errors[0] }}</div>
        {% endif %}
    </div>
    <div>
        {{ form.description.label }} {{ form.description() }}
        {% if form.description.errors %}
            <div style="color: red;">{{ form.description.errors[0] }}</div>
        {% endif %}
    </div>
    <div>
        {{ form.display_order.label }} {{ form.display_order() }}
        {% if form.display_order.errors %}
            <div style="color: red;">{{ form.display_order.errors[0] }}</div>
        {% endif %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>

<h2>Existing Plan Options</h2>
<ul>
    {% for plan_option in plan_options %}
        <li>{{ plan_option.name }} - Order: {{ plan_option.display_order }}</li>
    {% endfor %}
</ul>    
{% endblock %}
