{% extends "base.html" %}
{% block content %}
  <h2>Manage User Subscriptions</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div>
      {{ form.user_email.label }}<br>
      {{ form.user_email(size=30) }}
      {% for error in form.user_email.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div>
      {{ form.subscription_tier.label }}<br>
      {{ form.subscription_tier() }}
    </div>
    <div>
      {{ form.submit() }}
    </div>
  </form>
{% endblock %}
