<!-- templates/create_booking.html -->
{% extends "base.html" %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cbooking.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Create a Booking</h2>
    <form action="{{ url_for('booking.create_booking') }}" method="post">
        <div class="form-group">
            <label for="service_id">Service:</label>
            <select name="service_id" id="service_id" required>
                <!-- Dynamically populate services and pre-select if a service is provided -->
                {% for service in services %}
                <option value="{{ service.id }}" {% if selected_service and selected_service.id == service.id %}selected{% endif %}>{{ service.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="team_member_id">Team Member:</label>
            <select name="team_member_id" id="team_member_id" required>
                <!-- Dynamically populate team members -->
                {% for member in team_members %}
                <option value="{{ member.id }}">{{ member.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div id='calendar'></div>

        <div class="form-group">
            <input type="submit" value="Create Booking" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    var csrfToken = "{{ csrf_token() }}";
    var selectedServiceId = "{{ selected_service.id if selected_service }}";
    var selectedTeamMemberId = "{{ request.form['team_member_id'] if request.form['team_member_id'] }}";
</script>
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
{% endblock %}

