{% macro render_field(field) %}
<div class="form-group">
  <label for="{{ field.id }}">{{ field.label }}</label>
  {% set aria_args = {} %}
  {% if field.flags.required %}
  {% set _ = aria_args.update({'aria-required': 'true'}) %}
  {% endif %}
  {% if field.errors %}
  {% set _ = aria_args.update({'aria-invalid': 'true', 'aria-describedby': field.id ~ '-error'}) %}
  {% endif %}
  {{ field(class="form-control", **aria_args) }}
  {% if field.errors %}
  <span class="form-error" id="{{ field.id }}-error" role="alert">{{ field.errors[0] }}</span>
  {% endif %}
</div>
{% endmacro %}