{% extends 'base.html' %}

{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <!-- Flash Messages Display -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <h2>Login</h2>
        <form method="POST" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <!-- Registration Link -->
        <div class="form-group">
            <p>Don't have an account? <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Register</a></p>
        </div>
    </div>
</div>
{% endblock %}
